<div class="d-flex <%= "justify-content-end" if message.sender == current_user %>" id="<%= message.sender.id %>">
  <div class="message-bubble <%= "sender" if message.sender == current_user %>">
    <div id="message-<%= message.id %>">
      <p><%= message.content %></p>
      <div class="d-flex justify-content-end">
        <small>
          <strong><%= message.sender.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
      </div>
    </div>
  </div>
</div>
