<div class="login-main">
  <p class="login-sign" align="center">Sign up</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class = "login-form" align="center">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true %>
        <%= f.input :last_name,
                    required: true %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%#= f.input :address,
        input_html: { data: { geocoder_target: "address" }, class: "d-none" },
        wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      </div>

      <div align="center">
        <%= f.button :submit, "Sign up", class: "seamify-button" %>
      </div>
    </div>
  <% end %>

  <div align="center">
    <%= render "devise/shared/links" %>
  </div>
</div>
