<div class="container conversation">
  <h1><%= @seamstress.first_name %> <%= @seamstress.last_name %></h1>

  <div class="messages">
    <% @conversation.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.sender.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
