<% if @reviews_first != nil && @reviews_first != []%>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-controller="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="review carousel-item active">

      <!--Title -->
     <div class="review-title">
        <p><strong> <%= @reviews_first.service %></strong></p>
        <div class="d-flex stars">
          <% (@reviews_first.rating).times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>
      <!--Title -->

      <!-- Client Avatar-->
      <div class="review-img">
       <%= cl_image_tag  User.all.find(@reviews_first.client_id).photo.key %>
      </div>
      <!---->

       <!-- Content -->
      <div class="review-text">
        <p> <%= @reviews_first.content %></p>
      </div>
      <!---->

       <!-- Date -->
      <div class="date">
        <% dates = ["2021-06-27", "2021-04-25", "2022-02-14"] %>
        <p><em><%= @reviews_first.client.first_name %> <%= dates.sample %></em></p>
      </div>
      <!-- -->


    </div>

    <%if @reviews != nil && @reviews != []%>
    <%@reviews.each do |review| %>
    <div class="review carousel-item">
       <!--Title -->
      <div class="review-title">
        <p><strong><%= review.service %></strong></p>
        <div class="d-flex stars">
          <% (review.rating).times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>
      <!---->

       <!-- Client Avatar-->
      <div class="review-img">
       <%= cl_image_tag  User.all.find(review.client_id).photo.key %>
      </div>
      <!---->

      <!-- Content -->
      <div class="review-text">
        <p> <%= review.content %></p>
      </div>
      <!---->

      <!-- Date -->
      <div class="date">
        <p><em><%= review.client.first_name %> <%= review.created_at.strftime('%Y-%m-%d')%></em></p>
      </div>
      <!-- -->
    </div>
    <%end%>
    <%end%>

  </div>
</div>

<%else%>
<p> No reviews yet </p>
<%end%>
