<div class = "container">

  <div class="seamstress-cards-container">
    <div class="seamstress-index">

      <% if @users == nil || @users == [] %>
        <p> No seamstress found near <%= params[:query]%> </p>
      <% else %>  
        <p> Found <%= @users.size %> seamstress near you! </p>
        <% @users.each do |user|%>
          <%= render "shared/seamstress_card", user: user %>
        <%end%>
      <% end %>  
    </div>

    <%# <div class="cards-map"> %>
      <div id="map-position" style="width: 100%; height: 85vh;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <%# </div> %>
  </div>
</div>
