<div class="container search-container">
    <h1 class="search-header"> Tell us about your items</h1>
    <br>
    <%= form_with url:"/users", method: :get do |form| %>
        <%# Clothing Containter %>
        <h5 class="search-sub">Type Of Clothing:</h5>
        <div class="clothing-wrapper">
          <% @clothings.each do |clothing| %>
            <div class="clothings">
              <%= image_tag("#{clothing}.png", class:"clothing-icons") %>
              <%= form.radio_button "clothing", clothing, class: "clothing-selector" %>
              <%= form.label clothing, for:"clothing_#{clothing.underscore.gsub(/( )/, "_")}" %>
            </div>
          <% end %>
        </div>
        <%# Repair Container %>
        <h5 class="search-sub">Type of alteration or repair:</h5>
        <div class="repair-wrapper">
          <% @repairs.each do |repair| %>
            <div class= "repairs">
              <%= image_tag("#{repair}.png", class:"repair-icons") %>
              <%= form.radio_button "repair", repair, class:"repair-selector" %>
              <%= form.label repair, repair, for:"repair_#{repair.underscore.gsub(/ /, "_")}"  %>
            </div>
          <% end %>
        </div>
        <%# Materials Container %>
        <h5 class="search-sub">Type of material:</h5>
        <div class="material-container">
          <% @materials.each do |material| %>
            <div class= "materials">
              <%= form.radio_button "material", material, class:"material-selector" %>
              <%= form.label material, material, for:"material_#{material.underscore.gsub(/ /, "_")}"  %>
            </div>
          <% end %>
        </div>
        <%# Postal Code %>
        <%= form.text_field :query, placeholder:"H2X 2S8", class:"postal-code"%>
      <%= form.submit "Search", class: "search-btn"%>
    <% end %>
  </div>
</div>
