<div class="container">
  <%= form_with url:"/users", method: :get do |form| %>
      <%# Clothing Containter %>
          <h5>Type Of Clothing:</h5>
      <div class="clothing-wrapper">
      <% @clothings.each do |clothing| %>
        <div class="clothings">
          <%= form.label clothing, for:"clothing_#{clothing.underscore.gsub(/ /, "_")}" %>
          <%= form.radio_button "clothing", clothing, class: "clothing-selector" %>
        </div>
      <% end %>
    </div>
    <%# reapair container %>
    <h5>Type of alteration or repair:</h5>
    <div class="repair-wrapper">
      <% @repairs.each do |repair| %>
        <div class= "repairs">
          <%= form.label repair, repair, for:"repair_#{repair.underscore.gsub(/ /, "_")}"  %>
          <%= form.radio_button "repair", repair, class:"repair-selector" %>
        </div>
      <% end %>
    </div>
      <%# Materials Container %>
      <h5>Type of material:</h5>
    <div class="material-container">
      <% @materials.each do |material| %>
        <div class= "materials">
          <%= form.label material, material, for:"material_#{material.underscore.gsub(/ /, "_")}"  %>
          <%= form.radio_button "material", material, class:"material-selector" %>
        </div>
      <% end %>
    </div>
      <%= form.submit "Find a Seamstress near you...", class: "search-btn"%>
  <% end %>
  </div>
</div>
