<div class="container">
  <div class="seamstress-profile">
    <div class="card-format">
      <div class="profile">
        <div class="round-profile">
          <%= cl_image_tag @user.photo.key %>
        </div>
        <h1><%= @user.first_name %></h1>
        <h1><%= @user.last_name %></h1>
        <div class ="d-flex stars">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
        <div class="text-profile">
          <p><i class="fas fa-trophy"></i> Hired 38 times</p>
          <p><i class="far fa-comment-dots"></i> Responds within a day</p>
          <p><i class="far fa-clock"></i> Turn around time: 3-4 days</p>
        </div>
        <div class="center-button">
          <%= link_to "Contact #{@user.first_name}", user_path(@user), class: "seamify-button" %>
        </div>
      </div>
    </div>

    <div class="details d-flex flex-column">
      <div class="card-format">
        <div class="about">
          <p><strong>ABOUT <%= @user.first_name.upcase %></strong></p>
          <p><%= @user.bio %></p>
        </div>
      </div>
      <div class="card-format flex-grow-1 my-0">
        <div class="portfolio">
          <p><strong>PORTFOLIO</strong></p>
        </div>
      </div>
      <div class="card-format">
        <div class="reviews">
          <p><strong>REVIEWS</strong></p>
          <p>No review yet</p>
        </div>
      </div>
    </div>

    <div class="offers">
      <div class="card-format">
        <div class="services">
          <p><strong>SERVICES</strong></p>
        </div>
      </div>
      <div class="card-format">
        <div class="order-form">
          <p><strong>ORDER FORM</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
