<div class="container">
  <%= link_to request.referer.present? ? request.referer : users_path do%>
    <p class="link-back"><i class="fas fa-arrow-left"></i> BACK </p>
  <% end %>
  <div class="seamstress-profile">
    <div class="card-format">
      <div class="profile">
        <div class="round-profile">
          <%= cl_image_tag @seamstress.photo.key %>
        </div>
        <h1><%= @seamstress.first_name %></h1>
        <h1><%= @seamstress.last_name %></h1>
        <div class ="d-flex stars">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
        <div class="text-profile">
          <p><i class="fas fa-trophy"></i> Hired 38 times</p>
          <p><i class="far fa-comment-dots"></i> Responds within a day</p>
          <p><i class="far fa-clock"></i> Turn around time: 3-4 days</p>
        </div>
        <div class="center-button">
          <%= link_to "Contact #{@seamstress.first_name}", contact_path(@seamstress), class: "seamify-button" %>
        </div>
      </div>
    </div>

    <div class="details d-flex flex-column">
      <div class="card-format">
        <div class="about">
          <p><strong>ABOUT <%= @seamstress.first_name.upcase %></strong></p>
          <p><%= @seamstress.bio %></p>
        </div>
      </div>
      <div class="card-format flex-grow-1 my-0">
        <div class="portfolio">
          <p><strong>PORTFOLIO</strong></p>
          <div class="d-flex justify-content-between">
            <div class="squared-img">
              <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646232147/portfoliopictures/zipweddingdress.jpg" data-bs-toggle="modal" data-bs-target="#picture-one">
            </div>
            <div class="squared-img">
              <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646232462/portfoliopictures/sewingbutton.jpg" data-bs-toggle="modal" data-bs-target="#picture-two"/>
            </div>
            <div class="squared-img">
              <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646231923/portfoliopictures/zipdenim.jpg" data-bs-toggle="modal" data-bs-target="#picture-three"/>
            </div>
            <div class="squared-img">
              <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646235342/portfoliopictures/lacerepair.jpg" data-bs-toggle="modal" data-bs-target="#picture-four"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card-format">
        <div class="reviews">
          <p><strong>REVIEWS</strong></p>
          <%= render "users/reviews_card" %>
        </div>
      </div>
    </div>

    <div class="offers d-flex flex-column">
      <div class="card-format flex-grow-1 mb-0">
        <div class="services">
          <p><strong>SERVICES</strong></p>
          <div class="fields">
            <p>clothing:</p>
            <div class="d-flex">
              <% @clothings.uniq.each do |clothing| %>
                <p class="box-shaped"><%= clothing %></p>
              <% end %>
            </div>
            <p>repair:</p>
            <div class="d-flex">
              <% @repairs.uniq.each do |repair| %>
                <p class="box-shaped"><%= repair %></p>
              <% end %>
            </div>
            <p>material:</p>
            <div class="d-flex">
              <% @materials.uniq.each do |material| %>
                <p class="box-shaped"><%= material %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-format">
        <div class="order-form">
          <p><strong>ORDER FORM</strong></p>
            <%= simple_form_for [@seamstress, @order] do |f| %>
              <%= f.simple_fields_for :order_items do |oi| %>
                <p class="error"><%= "Service #{@message}" if @order.errors.messages.any? %></p>
                <%= oi.input :service_id, collection: @seamstress.services, required: true %>
                <%#= oi.input :service_id, collection: @seamstress.services %>
              <% end %>
              <div class="center-button">
                <%= f.submit "Place Order", class: "seamify-button" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# Images POP OUT %>
<div class="modal fade" id="picture-one" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#picture-one" aria-label="Close">
    </button>
    <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646232147/portfoliopictures/zipweddingdress.jpg" class="pop-out" />
    </div>
  </div>
</div>
<div class="modal fade" id="picture-two" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#picture-two" aria-label="Close">
          </button>
        <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646232462/portfoliopictures/sewingbutton.jpg" class="pop-out" />
    </div>
  </div>
</div>
<div class="modal fade" id="picture-three" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#picture-three" aria-label="Close">
        </button>
        <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646231923/portfoliopictures/zipdenim.jpg" class="pop-out"/>
    </div>
  </div>
</div>
<div class="modal fade" id="picture-four" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#picture-four" aria-label="Close">
        </button>
        <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1646235342/portfoliopictures/lacerepair.jpg" class="pop-out" />
    </div>
  </div>
</div>
