<div class="container">
  <%= link_to users_path do%>
    <p class="link-back"><i class="fas fa-arrow-left"></i> BACK TO MAP</p>
  <% end %>
  <div class="seamstress-profile">
    <div class="card-format">
      <div class="profile">
        <div class="round-profile">
          <%= cl_image_tag @seamstress.photo.key %>
        </div>
        <h1><%= @seamstress.first_name %></h1>
        <h1><%= @seamstress.last_name %></h1>
        <div class ="d-flex stars">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
        <div class="text-profile">
          <p><i class="fas fa-trophy"></i> Hired 38 times</p>
          <p><i class="far fa-comment-dots"></i> Responds within a day</p>
          <p><i class="far fa-clock"></i> Turn around time: 3-4 days</p>
        </div>
        <div class="center-button">
          <%= link_to "Contact #{@seamstress.first_name}", user_path(@seamstress), class: "seamify-button" %>
        </div>
      </div>
    </div>

    <div class="details d-flex flex-column">
      <div class="card-format">
        <div class="about">
          <p><strong>ABOUT <%= @seamstress.first_name.upcase %></strong></p>
          <p><%= @seamstress.bio %></p>
        </div>
      </div>
      <div class="card-format flex-grow-1 my-0">
        <div class="portfolio">
          <p><strong>PORTFOLIO</strong></p>
          <p>
          </p>
        </div>
      </div>
      <div class="card-format">
        <div class="reviews">
          <p><strong>REVIEWS</strong></p>
          <p>No review yet</p>
        </div>
      </div>
    </div>

    <div class="offers d-flex flex-column">
      <div class="card-format flex-grow-1 mb-0">
        <div class="services">
          <p><strong>SERVICES</strong></p>
        </div>
      </div>
      <div class="card-format">
        <div class="order-form">
          <p><strong>ORDER FORM</strong></p>
            <%= simple_form_for [@seamstress, @order] do |f| %>
              <%= f.simple_fields_for :order_items do |oi| %>
                <%= oi.input :service_id, collection: @seamstress.services %>
                <%#= oi.input :service_id, collection: @seamstress.services %>
              <% end %>
              <div class="center-button">
                <%= f.submit "Place Order", class: "seamify-button" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
