<%= link_to user do %>
  <div class="seamstress-card">
    <div class = "seamstress-card-left">
        <%= cl_image_tag user.photo.key,  width: 300 %>
        <%# <img src= "https://images.unsplash.com/photo-1504685723432-f3f005135e75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"> %>
        <p id = "sname"><%= user.first_name%> <%= user.last_name%></p>
    </div>
    <div id = "bio">
      <% if user.first_name == "Rey" || user.first_name == "Giuseppe"%>
        <div class ="d-flex mb-2">
          <% 5.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
      <% elsif user.first_name == "Jenny" %>
        <div class ="d-flex mb-2">
          <% 3.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
      <% elsif user.first_name == "Andrea" %>
        <div class ="d-flex mb-2">
          <% 4.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
      <% else %>
        <div class ="d-flex mb-2">
          <% range = rand(3..4)%>
          <% range.times do%>
              <i class="fas fa-star"></i>
          <%end%>
        </div>
      <% end %>
      <p><%= user.bio%></p>
    </div>
  </div>
<% end %>
