<h1>All Orders For <%= current_user.id %></h1>

<% if @orders != nil %>
    <p> Total Orders: <%= @orders.size%> </p>
    <% @orders.each do |order| %>
        <p> <%= order.id %>
        <p> Seamstress: <%= order.seamstress.first_name %> </p>
        <p> Created At: <%= order.created_at %> </p>
        <% @order_items.where(order_id: order.id).each do |order_item|%>
            <p> Service: <%= @services.find(order_item.service_id).name%></p>
        <%end%>
    <% end %>

<% else %>
   <p> No Orders for current client </p> 
<% end %>

