
<% if @order.client == current_user || @seamstress == current_user %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-0">
        <%= link_to my_orders_path do%>
          <p class="link-back"><i class="fas fa-arrow-left"></i> BACK </p>
        <% end %>
      </div>
    </div>
    <% if @order.confirmed %>
      <%= render "order_confirmation_banner", order: @order %>
    <% end %>

    <div class="row justify-content-center mb-4">
      <div class="card-format order-summary col-6">
        <div class="p-4">
          <h1 class="h-red bottom-line">Order Summary</h1>
          <p> For <%= @client.first_name%> <%= @client.last_name%> </p>
          <h2>Services:</h2>
          <% @services.each do |service| %>
            <div class="d-flex justify-content-between">
              <p>x1 <%= service.name %></p>
              <p><%= service.price %>$</p>
            </div>
          <% end %>
          <div class="d-flex justify-content-between mb-4">
            <h2>Order Total:</h2>
            <h2><%= @total %>$</h2>
          </div>
          <h2 class="bottom-line">Seamstress</h2>
          <h3><%= @seamstress.first_name %> <%= @seamstress.last_name %></h3>
          <h2 class="h-red bottom-line mt-5 mb-3">Drop Time</h2>
          <div class="drop-time d-flex justify-content-between">
            <% if @order.drop_time.nil? %>
              <% if @seamstress == current_user %>
                <%= simple_form_for @order do |f| %>
                  <%= f.input :drop_time, required: true %>
                  <%= f.submit "Confirm Order", class: "seamify-button" %>
                <% end %>
              <% else %>
                <p><strong>Contact <%= @seamstress.first_name %> To Confirm Drop Time!</strong></p>
                <%= link_to "Contact #{@seamstress.first_name}", contact_path(@seamstress), class:"seamify-button" %>
              <% end %>
            <% else %>
              <h3><%= @order.drop_time.strftime("%a %b %e, %Y at %l:%M %p") %></h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% controller.redirect_to "/" %>
<% end %>
