<div class="banner">
  <div class="container">
    <h1>Seamify</h1>
    <p>Alterations and repairs made for you.</p>
<<<<<<< HEAD
        <%= link_to "Start Journey", root_path, class: "seamify-button" %>
    </div>
  </div>

<div class="container">
  <h3>Meet some of our people at Seamify</h3>

  <div class="container-meet-cards">
    <div class="meet-card">
      <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1645846471/seamstresses/yolanda.jpg"/>
      <div class="meet-card-infos">
        <h3>Yolanda</h3>
        <p>I specialize in leather and suede alterations as my mother was a shoe maker back in Portugal.</p>
        <%= link_to "View Profile", root_path, class: "seamify-button" %>
      </div>
    </div>

    <div class="meet-card">
      <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1645846668/seamstresses/giuseppe.jpg"/>
      <div class="meet-card-infos">
        <h3>Giuseppe</h3>
        <p>At 82 years old, I still fix and make suits and wedding dresses for the elite.</p>
        <%= link_to "View Profile", root_path, class: "seamify-button" %>
      </div>
    </div>

    <div class="meet-card">
      <img src="https://res.cloudinary.com/dq1xs22hk/image/upload/v1645853245/seamstresses/rey.jpg"/>
      <div class="meet-card-infos">
        <h3>Rey</h3>
        <p>I put all of my efforts in the details and hopefully I can make YOUR wedding dress.</p>
        <%= link_to "View Profile", root_path, class: "seamify-button" %>
      </div>
    </div>
=======
    <%= link_to "Start Journey", root_path, class: "seamify-button" %>
>>>>>>> efb167b33c94c3c580fce995be666ccd3d73ecc9
  </div>
</div>
