<h1>Write your review!</h1>

<p>Please let us know about your experience with <%= @order.seamstress.first_name %></p>


<%= simple_form_for([@order, @review]) do |f| %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<p><%= link_to 'Go back to reviews', my_orders_path %></p>
