<div class = "review-form-main">
<h1>Write your review!</h1>

<p>Please let us know about your experience with <%= @order.seamstress.first_name %></p>

<p> Service: <%= @service.name %>
<%= simple_form_for([@order, @review]) do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

</div>


